.poto-profil{
    width: 100px;
    height: 100px;
    background-color: blue;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    margin-top: 50px;
}

.icon {
    transform: translateY(-2px);
}