<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profil Saya</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="poto-profil">
    <img width="100px"  src="../../assets/img/Pendi.webp" class="profile-image">
  </div>
  
  <ion-card-header>
    <ion-card-title>Nurependi <img class="icon" src="../../assets/icon/centang biru (2).png" width="20px"></ion-card-title>
    <h3>Progammer</h3>
    <ion-card-subtitle><a href="https://www.instagram.com/fpendii/"> @fpendii</a></ion-card-subtitle>
    <ion-card-subtitle><a href="https://api.whatsapp.com/send?phone=6282150646254&text=Hai%Pendi"></a> 082150646254</ion-card-subtitle>
  </ion-card-header>
  
  
</ion-content>
